
.App {
  /* background-color: rgb(233, 233, 233) */

}


.app-container {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: stretch; */
    height: 100vh;
  }
 
 .control-panel-container {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* display: grid; */
    /* align-items: stretch; */
    top: 0;
    right: 0;
    /* width: 300px; */
    width: 30%;
    height: 80%;
    background-color: #f0f0f0;
    overflow: auto;
    /* justify-content: space-around; */
    transition: all 0.3s ease;
  }

  button { 
    /* color:#050;  */
    /* font: old 84% 'trebuchet ms',helvetica,sans-serif;  */
    /* background-color:#fed;  */
    /* border:1px solid;  */
    /* border-color: #696 #363 #363 #696;  */

    padding: 20px;
    font-size: 16px;
    /* border: none; */
    border: 1px solid;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* margin-top: auto;
    margin-bottom: auto;
    margin-right: 10vw; */

    margin-top: auto;
    margin-bottom: 1vh;
    margin-right: 3vw;
    margin-left: 3vw;;
}

.button-container {
  display: flex;
  flex-direction: column;
}

/* .input-container {

}
input {

} */


  /* .questions-grid {
    height: 500px;
    width: 500px;
  } */

  /* .ag-theme-alpine {
    height: 500px;
    width: 500px;
  } */
