.app-container {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: stretch; */
    height: 100vh;
  }
 
 .control-panel-container {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* display: grid; */
    /* align-items: stretch; */
    top: 0;
    right: 0;
    /* width: 300px; */
    width: 30%;
    height: 80%;
    background-color: #f0f0f0;
    overflow: auto;
    /* justify-content: space-around; */
    transition: all 0.3s ease;
  }

  /* .questions-grid {
    height: 500px;
    width: 500px;
  } */

  /* .ag-theme-alpine {
    height: 500px;
    width: 500px;
  } */
